/* POPUP STYLE */

#popupContainer {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
}

.popup {
    width: fit-content;
    height: fit-content;
    background: var(--white);
    padding: 20px 40px;
    border-radius: var(--radius);
    color: var(--text-dark-color);
}

.popup .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.popup .button.close {
    margin-top: 40px;
    text-align: center;
    box-sizing: border-box;
}


/* ONLY DOC POPUP */

.popup #document-file-import {
    margin: 0;
}

/* DOC CLICKED POPUP */

#document-clicked-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#document-clicked-popup .button {
    width: 100%;
    text-align: center;
}

#document-clicked-popup {
    width: 16vw;
    padding: 20px 80px;
    box-sizing: border-box;
}

/* MESSAGE POPUP */

.message-popup {
    margin: 30px auto;
    min-width: 26vw;
    max-width: 45vw;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.message-popup .button {
    width: 100%;
    text-align: center;
}