main {
    position: relative;

}

#mainHeader {
    position: absolute;
    width: fit-content;
    min-width: 400px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    margin: 12px;
    gap: 12px;

    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    transition: all 0.2s ease-in-out;
}

#mainHeader>div {
    width: 100%;
}

#mainHeader input {
    width: 100%;
    box-sizing: border-box;
}

#mainHeader.enabled {
    height: 100px;
}

#mainHeader:not(.enabled) .aligned {
    display: none;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
}

#mainHeader .tab {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 6px 4px;
}


#mainHeader .tab.active {
    font-weight: bold;
    color: var(--text-light-color);
    background: var(--blue);

}

#mainHeader .tab:not(.active) {
    color: rgba(255, 255, 255, .8);
    background: rgba(255, 255, 255, .2);
}

#mainHeader .tab:not(.active):hover {
    background: var(--light-gray);
    color: var(--text-light-color);
    cursor: pointer;
}

#mainHeader #opt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#mainBody {
    width: auto;
    height: 100%;
    padding: 2vh 5vw;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#mainBody #add-card {
    flex-basis: auto;
    align-self: center;
    justify-self: center;
    height: 267px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out all;
}

#mainBody #add-card:active {
    scale: 1.02;
}