#mainHeader {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    backdrop-filter: blur(10px);
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
}

#mainHeader .tab {
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 6px 4px;
    transition: 0.2s ease-in-out all;
}


#mainHeader .tab.active {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-light-color);
    background: var(--blue);

}

#mainHeader .tab:not(.active) {
    color: rgba(255, 255, 255, .8);
    background: rgba(255, 255, 255, .2);
}

#mainHeader .tab:not(.active):hover {
    background: var(--light-gray);
    color: var(--text-light-color);
    cursor: pointer;
}

#mainHeader #opt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#mainBody {
    width: auto;
    height: 100%;
    padding: 2vh 5vw;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.51);
}

#mainBody #add-card {
    flex-basis: auto;
    align-self: center;
    justify-self: center;
    height: 267px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out all;
}

#mainBody #add-card:active {
    scale: 1.02;
}