/* Accessible variables useable in any css file while the html file contain it's link */
:root {
    --white: #D9D9D9;
    --black: #000000;
    --light-gray: #727272;
    --dark-gray: #333333;
    --blue: #0755a0;
    --green: #038103;
    --red: #c40000;

    --text-light-color: #fff;
    --text-dark-color: #000;

    --radius: 5px;

}

/* GOOGLE icons Style */
.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* COMMON STYLE */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.red {
    background-color: #ff0000 !important;
}


.green {
    background-color: var(--green) !important;
}


.blue {
    background-color: var(--blue) !important;
}

.bold {
    font-weight: bold !important;
}

.underlined {
    text-decoration: underline !important;
}

.italic {
    font-style: italic !important;
}

.light {
    font-weight: 300 !important;
}

.fullcaps {
    text-transform: uppercase !important;
}

.smallcaps {
    font-variant: small-caps !important;
}

.clickable {
    cursor: pointer;
}

.link {
    cursor: pointer;
    user-select: none;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.noLink {
    text-decoration: none !important;
    color: #000;
}

.bigIcon {
    font-size: 2.5em;
}

.lightText {
    color: var(--text-light-color);
}

.justified {
    text-align: justify;
}

.tabbed {
    text-indent: 40px;
}

.button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    padding: 10px 20px;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-light-color);
    background-color: var(--blue);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    scale: 1.05;
}

.disabled {
    display: none;
}

.hidden {
    visibility: hidden;
}

/* TOPBAR STYLE */

.topbar {
    z-index: 1;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: var(--light-gray);
}

.topbar * {
    color: var(--text-light-color);
    padding: 10px 20px;
}

.topbar>div {
    flex: 1;
    display: flex;
}

.topbar .left>* {
    margin-right: auto;
    justify-content: flex-start;
}

.topbar .right>* {
    margin-left: auto;
}

.aligned {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* BODY STYLE */

body {
    background-color: var(--dark-gray);
    color: var(--text-light-color);
}

/* PO BACKGROUND LOGO STYLE */

body>#backgroundImage {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 100vw;
    left: 50%;

    /*  */
    transform: translate(-50%, 10%);

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

body>#backgroundImage>img {
    height: 90vh;
    height: 90vh;
    filter: opacity(.2);
    transform: translate(-5px, 6%);
}

/* MAIN PART */

main {
    height: 82vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* FOOTER PART */

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    min-height: 8vh;
    padding: 20px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .padBox {
    width: 32px;
}

footer svg {
    filter: contrast(0) brightness(0) invert(1);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 40px;
}

.popup .aligned {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
}


/* INPUT STYLE */

.field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    color: var(--text-dark-color);
    margin-bottom: 5px;
}

input {
    width: unset;
    outline: none;
    font-size: 1em;
    padding: 10px 2px;
    
    color: var(--text-dark-color);
    border: 1px solid var(--blue);

    border-radius: var(--radius);
    background-color: #fff;
}

input:required {
    border: 1px solid var(--red);
}