<div data-id="{{id}}" class="template main-user-element">
    <div class="head">
        <p class="DisplayName">{{DisplayName}}</p>
        <p class="{{archived}}">Résumé des documents :</p>
        <p class="{{showText}}">Archivé le {{Date}}</p>
    </div>
    <div class="body aligned {{archived}}">
        <div class="signed-part">
            <p class="title">Signés</p>
            <p class="value signed">{{Signed}}</p>
        </div>
        <div class="update-part">
            <p class="title">À MAJ</p>
            <p class="value to-update">{{Outdated}}</p>
        </div>
        <div class="wait-part">
            <p class="title">En attente</p>
            <p class="value waiting">{{Waiting}}</p>
        </div>
    </div>
    <div class="buttons {{showText}}">
        <div class="button unarchiveUser">Restaurer</div>
        <div class="button red deleteUser">Supprimer</div>
    </div>
</div>